In [1]:
from mfsim.utils.data_loader import DataLoader
from mfsim.backtester.simulator import Simulator

In [2]:
from mfsim.strategies.custom_strategy import MomentumValueStrategy

In [3]:
dl = DataLoader()

In [4]:
# Define strategy
strategy = MomentumValueStrategy(
    frequency='semi-annually',
    metrics=['Total Return', 'sharpe ratio'],
    value_fund="NIPPON INDIA NIFTY 50 VALUE 20 INDEX FUND - DIRECT Plan - IDCW Option",
    momentum_fund="BANDHAN NIFTY200 MOMENTUM 30 INDEX FUND - GROWTH - DIRECT PLAN"
)

# Initialize simulator
sim = Simulator(
    start_date='2023-01-01',
    end_date='2024-01-01',
    initial_investment=10000,
    strategy=strategy,
    sip_amount=1000,
    sip_frequency='monthly',
)

# Run simulation
metrics = sim.run()

2024-09-30 22:33:44,495 - backtester - INFO - Purchased 384.68936333910364 units of NIPPON INDIA NIFTY 50 VALUE 20 INDEX FUND - DIRECT Plan - IDCW Option on 2023-01-02 for 5000.0
2024-09-30 22:33:44,500 - backtester - INFO - Purchased 499.88002879308965 units of BANDHAN NIFTY200 MOMENTUM 30 INDEX FUND - GROWTH - DIRECT PLAN on 2023-01-02 for 5000.0
2024-09-30 22:33:44,502 - backtester - INFO - Purchased 37.43383569540837 units of NIPPON INDIA NIFTY 50 VALUE 20 INDEX FUND - DIRECT Plan - IDCW Option on 2023-02-01 for 500.0
2024-09-30 22:33:44,506 - backtester - INFO - Purchased 54.0698366009538 units of BANDHAN NIFTY200 MOMENTUM 30 INDEX FUND - GROWTH - DIRECT PLAN on 2023-02-01 for 500.0
2024-09-30 22:33:44,507 - backtester - INFO - Applied SIP of 1000 on 2023-02-01
2024-09-30 22:33:44,508 - backtester - INFO - Purchased 37.837796932111424 units of NIPPON INDIA NIFTY 50 VALUE 20 INDEX FUND - DIRECT Plan - IDCW Option on 2023-03-01 for 500.0
2024-09-30 22:33:44,509 - backtester - INFO - Purchased 53.428507314362655 units of BANDHAN NIFTY200 MOMENTUM 30 INDEX FUND - GROWTH - DIRECT PLAN on 2023-03-01 for 500.0
2024-09-30 22:33:44,509 - backtester - INFO - Applied SIP of 1000 on 2023-03-01
2024-09-30 22:33:44,511 - backtester - INFO - Purchased 36.55665550470118 units of NIPPON INDIA NIFTY 50 VALUE 20 INDEX FUND - DIRECT Plan - IDCW Option on 2023-06-01 for 500.0
2024-09-30 22:33:44,523 - backtester - INFO - Purchased 47.75731642087568 units of BANDHAN NIFTY200 MOMENTUM 30 INDEX FUND - GROWTH - DIRECT PLAN on 2023-06-01 for 500.0
2024-09-30 22:33:44,526 - backtester - INFO - Applied SIP of 1000 on 2023-06-01
2024-09-30 22:33:44,530 - backtester - INFO - Purchased 34.44427605020598 units of NIPPON INDIA NIFTY 50 VALUE 20 INDEX FUND - DIRECT Plan - IDCW Option on 2023-08-01 for 500.0
2024-09-30 22:33:44,538 - backtester - INFO - Purchased 44.110381819465026 units of BANDHAN NIFTY200 MOMENTUM 30 INDEX FUND - GROWTH - DIRECT PLAN on 2023-08-01 for 500.0
2024-09-30 22:33:44,553 - backtester - INFO - Applied SIP of 1000 on 2023-08-01
2024-09-30 22:33:44,558 - backtester - INFO - Purchased 34.42862257966783 units of NIPPON INDIA NIFTY 50 VALUE 20 INDEX FUND - DIRECT Plan - IDCW Option on 2023-09-01 for 500.0
2024-09-30 22:33:44,559 - backtester - INFO - Purchased 43.694071588366896 units of BANDHAN NIFTY200 MOMENTUM 30 INDEX FUND - GROWTH - DIRECT PLAN on 2023-09-01 for 500.0
2024-09-30 22:33:44,559 - backtester - INFO - Applied SIP of 1000 on 2023-09-01
2024-09-30 22:33:44,560 - backtester - INFO - Purchased 34.78890094904121 units of NIPPON INDIA NIFTY 50 VALUE 20 INDEX FUND - DIRECT Plan - IDCW Option on 2023-11-01 for 500.0
2024-09-30 22:33:44,561 - backtester - INFO - Purchased 43.85003288752467 units of BANDHAN NIFTY200 MOMENTUM 30 INDEX FUND - GROWTH - DIRECT PLAN on 2023-11-01 for 500.0
2024-09-30 22:33:44,561 - backtester - INFO - Applied SIP of 1000 on 2023-11-01
2024-09-30 22:33:44,562 - backtester - INFO - Purchased 32.123353678124 units of NIPPON INDIA NIFTY 50 VALUE 20 INDEX FUND - DIRECT Plan - IDCW Option on 2023-12-01 for 500.0
2024-09-30 22:33:44,563 - backtester - INFO - Purchased 38.09610886344068 units of BANDHAN NIFTY200 MOMENTUM 30 INDEX FUND - GROWTH - DIRECT PLAN on 2023-12-01 for 500.0
2024-09-30 22:33:44,563 - backtester - INFO - Applied SIP of 1000 on 2023-12-01
2024-09-30 22:33:44,564 - backtester - INFO - Purchased 29.838098477660214 units of NIPPON INDIA NIFTY 50 VALUE 20 INDEX FUND - DIRECT Plan - IDCW Option on 2024-01-01 for 500.0
2024-09-30 22:33:44,564 - backtester - INFO - Purchased 35.67758876584085 units of BANDHAN NIFTY200 MOMENTUM 30 INDEX FUND - GROWTH - DIRECT PLAN on 2024-01-01 for 500.0
2024-09-30 22:33:44,564 - backtester - INFO - Applied SIP of 1000 on 2024-01-01
2024-09-30 22:33:44,565 - backtester - INFO - Rebalancing on 2024-01-01
2024-09-30 22:33:44,567 - backtester - INFO - Purchased -66.21409032060238 units of NIPPON INDIA NIFTY 50 VALUE 20 INDEX FUND - DIRECT Plan - IDCW Option on 2024-01-01 for -1109.5561329113661
2024-09-30 22:33:44,569 - backtester - INFO - Purchased 79.17257484525675 units of BANDHAN NIFTY200 MOMENTUM 30 INDEX FUND - GROWTH - DIRECT PLAN on 2024-01-01 for 1109.5561329113661
2024-09-30 22:33:44,572 - backtester - INFO - TotalReturn: 0.2864359817578066
/Users/bhuvanesh.sridharan/Files/Exp/mfsim/mfsim/metrics/metrics_collection.py:120: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  holdings_df = pd.DataFrame(index=all_dates, columns=nav_data.keys()).fillna(0.0)
2024-09-30 22:33:44,583 - backtester - INFO - SharpeRatio: nan

Series([], Freq: D, dtype: float64)

In [5]:
sim.portfolio_history_df.index

DatetimeIndex(['2023-01-02', '2023-01-02', '2023-02-01', '2023-02-01',
               '2023-03-01', '2023-03-01', '2023-06-01', '2023-06-01',
               '2023-08-01', '2023-08-01', '2023-09-01', '2023-09-01',
               '2023-11-01', '2023-11-01', '2023-12-01', '2023-12-01',
               '2024-01-01', '2024-01-01', '2024-01-01', '2024-01-01'],
              dtype='datetime64[ns]', name='date', freq=None)

In [10]:
sim.current_portfolio

{'BANDHAN NIFTY200 MOMENTUM 30 INDEX FUND - GROWTH - DIRECT PLAN': 939.7364478991767,
 'NIPPON INDIA NIFTY 50 VALUE 20 INDEX FUND - DIRECT Plan - IDCW Option': 595.9268128854214}

In [5]:
sim.portfolio_history

[{'fund_name': 'NIPPON INDIA NIFTY 50 VALUE 20 INDEX FUND - DIRECT Plan - IDCW Option',
  'date': Timestamp('2023-01-02 00:00:00'),
  'units': 384.68936333910364,
  'amount': 5000.0},
 {'fund_name': 'BANDHAN NIFTY200 MOMENTUM 30 INDEX FUND - GROWTH - DIRECT PLAN',
  'date': Timestamp('2023-01-02 00:00:00'),
  'units': 499.88002879308965,
  'amount': 5000.0},
 {'fund_name': 'NIPPON INDIA NIFTY 50 VALUE 20 INDEX FUND - DIRECT Plan - IDCW Option',
  'date': Timestamp('2023-02-01 00:00:00'),
  'units': 37.43383569540837,
  'amount': 500.0},
 {'fund_name': 'BANDHAN NIFTY200 MOMENTUM 30 INDEX FUND - GROWTH - DIRECT PLAN',
  'date': Timestamp('2023-02-01 00:00:00'),
  'units': 54.0698366009538,
  'amount': 500.0},
 {'fund_name': 'NIPPON INDIA NIFTY 50 VALUE 20 INDEX FUND - DIRECT Plan - IDCW Option',
  'date': Timestamp('2023-03-01 00:00:00'),
  'units': 37.837796932111424,
  'amount': 500.0},
 {'fund_name': 'BANDHAN NIFTY200 MOMENTUM 30 INDEX FUND - GROWTH - DIRECT PLAN',
  'date': Timestamp('2023-03-01 00:00:00'),
  'units': 53.428507314362655,
  'amount': 500.0},
 {'fund_name': 'NIPPON INDIA NIFTY 50 VALUE 20 INDEX FUND - DIRECT Plan - IDCW Option',
  'date': Timestamp('2023-06-01 00:00:00'),
  'units': 36.55665550470118,
  'amount': 500.0},
 {'fund_name': 'BANDHAN NIFTY200 MOMENTUM 30 INDEX FUND - GROWTH - DIRECT PLAN',
  'date': Timestamp('2023-06-01 00:00:00'),
  'units': 47.75731642087568,
  'amount': 500.0},
 {'fund_name': 'NIPPON INDIA NIFTY 50 VALUE 20 INDEX FUND - DIRECT Plan - IDCW Option',
  'date': Timestamp('2023-08-01 00:00:00'),
  'units': 34.44427605020598,
  'amount': 500.0},
 {'fund_name': 'BANDHAN NIFTY200 MOMENTUM 30 INDEX FUND - GROWTH - DIRECT PLAN',
  'date': Timestamp('2023-08-01 00:00:00'),
  'units': 44.110381819465026,
  'amount': 500.0},
 {'fund_name': 'NIPPON INDIA NIFTY 50 VALUE 20 INDEX FUND - DIRECT Plan - IDCW Option',
  'date': Timestamp('2023-09-01 00:00:00'),
  'units': 34.42862257966783,
  'amount': 500.0},
 {'fund_name': 'BANDHAN NIFTY200 MOMENTUM 30 INDEX FUND - GROWTH - DIRECT PLAN',
  'date': Timestamp('2023-09-01 00:00:00'),
  'units': 43.694071588366896,
  'amount': 500.0},
 {'fund_name': 'NIPPON INDIA NIFTY 50 VALUE 20 INDEX FUND - DIRECT Plan - IDCW Option',
  'date': Timestamp('2023-11-01 00:00:00'),
  'units': 34.78890094904121,
  'amount': 500.0},
 {'fund_name': 'BANDHAN NIFTY200 MOMENTUM 30 INDEX FUND - GROWTH - DIRECT PLAN',
  'date': Timestamp('2023-11-01 00:00:00'),
  'units': 43.85003288752467,
  'amount': 500.0},
 {'fund_name': 'NIPPON INDIA NIFTY 50 VALUE 20 INDEX FUND - DIRECT Plan - IDCW Option',
  'date': Timestamp('2023-12-01 00:00:00'),
  'units': 32.123353678124,
  'amount': 500.0},
 {'fund_name': 'BANDHAN NIFTY200 MOMENTUM 30 INDEX FUND - GROWTH - DIRECT PLAN',
  'date': Timestamp('2023-12-01 00:00:00'),
  'units': 38.09610886344068,
  'amount': 500.0},
 {'fund_name': 'NIPPON INDIA NIFTY 50 VALUE 20 INDEX FUND - DIRECT Plan - IDCW Option',
  'date': Timestamp('2024-01-01 00:00:00'),
  'units': 29.838098477660214,
  'amount': 500.0},
 {'fund_name': 'BANDHAN NIFTY200 MOMENTUM 30 INDEX FUND - GROWTH - DIRECT PLAN',
  'date': Timestamp('2024-01-01 00:00:00'),
  'units': 35.67758876584085,
  'amount': 500.0},
 {'fund_name': 'NIPPON INDIA NIFTY 50 VALUE 20 INDEX FUND - DIRECT Plan - IDCW Option',
  'date': Timestamp('2024-01-01 00:00:00'),
  'units': -66.21409032060238,
  'amount': np.float64(-1109.5561329113661)},
 {'fund_name': 'BANDHAN NIFTY200 MOMENTUM 30 INDEX FUND - GROWTH - DIRECT PLAN',
  'date': Timestamp('2024-01-01 00:00:00'),
  'units': 79.17257484525675,
  'amount': np.float64(1109.5561329113661)},
 {'fund_name': 'NIPPON INDIA NIFTY 50 VALUE 20 INDEX FUND - DIRECT Plan - IDCW Option',
  'date': Timestamp('2024-02-01 00:00:00'),
  'units': 29.05709719599012,
  'amount': 500.0},
 {'fund_name': 'BANDHAN NIFTY200 MOMENTUM 30 INDEX FUND - GROWTH - DIRECT PLAN',
  'date': Timestamp('2024-02-01 00:00:00'),
  'units': 33.94133579521156,
  'amount': 500.0},
 {'fund_name': 'NIPPON INDIA NIFTY 50 VALUE 20 INDEX FUND - DIRECT Plan - IDCW Option',
  'date': Timestamp('2024-03-01 00:00:00'),
  'units': 27.89851635690014,
  'amount': 500.0},
 {'fund_name': 'BANDHAN NIFTY200 MOMENTUM 30 INDEX FUND - GROWTH - DIRECT PLAN',
  'date': Timestamp('2024-03-01 00:00:00'),
  'units': 32.05765248222403,
  'amount': 500.0},
 {'fund_name': 'NIPPON INDIA NIFTY 50 VALUE 20 INDEX FUND - DIRECT Plan - IDCW Option',
  'date': Timestamp('2024-04-01 00:00:00'),
  'units': 28.239334003546862,
  'amount': 500.0},
 {'fund_name': 'BANDHAN NIFTY200 MOMENTUM 30 INDEX FUND - GROWTH - DIRECT PLAN',
  'date': Timestamp('2024-04-01 00:00:00'),
  'units': 31.285978875707062,
  'amount': 500.0}]

In [6]:
sim.current_portfolio

{'BANDHAN NIFTY200 MOMENTUM 30 INDEX FUND - GROWTH - DIRECT PLAN': 1037.0214150523193,
 'NIPPON INDIA NIFTY 50 VALUE 20 INDEX FUND - DIRECT Plan - IDCW Option': 681.1217604418586}

In [7]:
import pandas as pd

In [9]:
df = pd.DataFrame.from_records(sim.portfolio_history, index="date")

In [10]:
df

,fund_name,units,amount
date,,,
2023-01-02,NIPPON INDIA NIFTY 50 VALUE 20 INDEX FUND - DI...,384.689363,5000.0
2023-01-02,BANDHAN NIFTY200 MOMENTUM 30 INDEX FUND - GROW...,499.880029,5000.0
2023-02-01,NIPPON INDIA NIFTY 50 VALUE 20 INDEX FUND - DI...,37.433836,500.0
2023-02-01,BANDHAN NIFTY200 MOMENTUM 30 INDEX FUND - GROW...,54.069837,500.0
2023-03-01,NIPPON INDIA NIFTY 50 VALUE 20 INDEX FUND - DI...,37.837797,500.0
2023-03-01,BANDHAN NIFTY200 MOMENTUM 30 INDEX FUND - GROW...,53.428507,500.0
2023-06-01,NIPPON INDIA NIFTY 50 VALUE 20 INDEX FUND - DI...,36.556656,500.0
2023-06-01,BANDHAN NIFTY200 MOMENTUM 30 INDEX FUND - GROW...,47.757316,500.0
2023-08-01,NIPPON INDIA NIFTY 50 VALUE 20 INDEX FUND - DI...,34.444276,500.0
2023-08-01,BANDHAN NIFTY200 MOMENTUM 30 INDEX FUND - GROW...,44.110382,500.0
2023-09-01,NIPPON INDIA NIFTY 50 VALUE 20 INDEX FUND - DI...,34.428623,500.0
2023-09-01,BANDHAN NIFTY200 MOMENTUM 30 INDEX FUND - GROW...,43.694072,500.0
2023-11-01,NIPPON INDIA NIFTY 50 VALUE 20 INDEX FUND - DI...,34.788901,500.0
2023-11-01,BANDHAN NIFTY200 MOMENTUM 30 INDEX FUND - GROW...,43.850033,500.0
2023-12-01,NIPPON INDIA NIFTY 50 VALUE 20 INDEX FUND - DI...,32.123354,500.0
2023-12-01,BANDHAN NIFTY200 MOMENTUM 30 INDEX FUND - GROW...,38.096109,500.0
2024-01-01,NIPPON INDIA NIFTY 50 VALUE 20 INDEX FUND - DI...,29.838098,500.0
2024-01-01,BANDHAN NIFTY200 MOMENTUM 30 INDEX FUND - GROW...,35.677589,500.0
2024-01-01,NIPPON INDIA NIFTY 50 VALUE 20 INDEX FUND - DI...,-0.000000,-0.0
2024-01-01,BANDHAN NIFTY200 MOMENTUM 30 INDEX FUND - GROW...,0.000000,0.0
2024-02-01,NIPPON INDIA NIFTY 50 VALUE 20 INDEX FUND - DI...,29.057097,500.0
2024-02-01,BANDHAN NIFTY200 MOMENTUM 30 INDEX FUND - GROW...,33.941336,500.0
2024-03-01,NIPPON INDIA NIFTY 50 VALUE 20 INDEX FUND - DI...,27.898516,500.0
2024-03-01,BANDHAN NIFTY200 MOMENTUM 30 INDEX FUND - GROW...,32.057652,500.0
2024-04-01,NIPPON INDIA NIFTY 50 VALUE 20 INDEX FUND - DI...,28.239334,500.0
2024-04-01,BANDHAN NIFTY200 MOMENTUM 30 INDEX FUND - GROW...,31.285979,500.0

In [12]:
df.drop(columns=["amount"], inplace=True)

In [14]:
df.index

DatetimeIndex(['2023-01-02', '2023-01-02', '2023-02-01', '2023-02-01',
               '2023-03-01', '2023-03-01', '2023-06-01', '2023-06-01',
               '2023-08-01', '2023-08-01', '2023-09-01', '2023-09-01',
               '2023-11-01', '2023-11-01', '2023-12-01', '2023-12-01',
               '2024-01-01', '2024-01-01', '2024-01-01', '2024-01-01',
               '2024-02-01', '2024-02-01', '2024-03-01', '2024-03-01',
               '2024-04-01', '2024-04-01'],
              dtype='datetime64[ns]', name='date', freq=None)

In [19]:
df.groupby("fund_name")["units"].sum().to_dict()

{'BANDHAN NIFTY200 MOMENTUM 30 INDEX FUND - GROWTH - DIRECT PLAN': 957.8488402070626,
 'NIPPON INDIA NIFTY 50 VALUE 20 INDEX FUND - DIRECT Plan - IDCW Option': 747.335850762461}

In [16]:
df

                                                    fund_name       units
date
2023-01-02  NIPPON INDIA NIFTY 50 VALUE 20 INDEX FUND - DI...  384.689363
2023-01-02  BANDHAN NIFTY200 MOMENTUM 30 INDEX FUND - GROW...  499.880029
2023-02-01  NIPPON INDIA NIFTY 50 VALUE 20 INDEX FUND - DI...   37.433836
2023-02-01  BANDHAN NIFTY200 MOMENTUM 30 INDEX FUND - GROW...   54.069837
2023-03-01  NIPPON INDIA NIFTY 50 VALUE 20 INDEX FUND - DI...   37.837797
2023-03-01  BANDHAN NIFTY200 MOMENTUM 30 INDEX FUND - GROW...   53.428507
2023-06-01  NIPPON INDIA NIFTY 50 VALUE 20 INDEX FUND - DI...   36.556656
2023-06-01  BANDHAN NIFTY200 MOMENTUM 30 INDEX FUND - GROW...   47.757316
2023-08-01  NIPPON INDIA NIFTY 50 VALUE 20 INDEX FUND - DI...   34.444276
2023-08-01  BANDHAN NIFTY200 MOMENTUM 30 INDEX FUND - GROW...   44.110382
2023-09-01  NIPPON INDIA NIFTY 50 VALUE 20 INDEX FUND - DI...   34.428623
2023-09-01  BANDHAN NIFTY200 MOMENTUM 30 INDEX FUND - GROW...   43.694072
2023-11-01  NIPPON INDIA NIFTY 50 VALUE 20 INDEX FUND - DI...   34.788901
2023-11-01  BANDHAN NIFTY200 MOMENTUM 30 INDEX FUND - GROW...   43.850033
2023-12-01  NIPPON INDIA NIFTY 50 VALUE 20 INDEX FUND - DI...   32.123354
2023-12-01  BANDHAN NIFTY200 MOMENTUM 30 INDEX FUND - GROW...   38.096109
2024-01-01  NIPPON INDIA NIFTY 50 VALUE 20 INDEX FUND - DI...   29.838098
2024-01-01  BANDHAN NIFTY200 MOMENTUM 30 INDEX FUND - GROW...   35.677589
2024-01-01  NIPPON INDIA NIFTY 50 VALUE 20 INDEX FUND - DI...   -0.000000
2024-01-01  BANDHAN NIFTY200 MOMENTUM 30 INDEX FUND - GROW...    0.000000
2024-02-01  NIPPON INDIA NIFTY 50 VALUE 20 INDEX FUND - DI...   29.057097
2024-02-01  BANDHAN NIFTY200 MOMENTUM 30 INDEX FUND - GROW...   33.941336
2024-03-01  NIPPON INDIA NIFTY 50 VALUE 20 INDEX FUND - DI...   27.898516
2024-03-01  BANDHAN NIFTY200 MOMENTUM 30 INDEX FUND - GROW...   32.057652
2024-04-01  NIPPON INDIA NIFTY 50 VALUE 20 INDEX FUND - DI...   28.239334
2024-04-01  BANDHAN NIFTY200 MOMENTUM 30 INDEX FUND - GROW...   31.285979

In [ ]:
sim.get_portfolio_history()

In [ ]:
from datetime import datetime

In [ ]:
datetime.strptime("2023-12-26", '%Y-%m-%d') in sim.nav_data[sim.fund_list[0]].index

In [19]:
sim.nav_data[sim.fund_list[0]].index[0]

'20-09-2024'

In [ ]:
d.funds_list_df

In [5]:
fn = d.funds_list_df.iloc[0]["schemeName"]

In [6]:
fn

'Grindlays Super Saver Income Fund-GSSIF-Half Yearly Dividend'

In [7]:
ndf = d.load_nav_data(fn)

In [8]:
ndf

           date       nav
0    29-05-2008  10.72050
1    28-05-2008  10.72500
2    27-05-2008  10.72160
3    26-05-2008  10.72060
4    23-05-2008  10.71520
..          ...       ...
526  10-04-2006  10.09060
527  07-04-2006  10.08560
528  05-04-2006  10.08360
529  04-04-2006  10.07960
530  03-04-2006  10.07740

[531 rows x 2 columns]

In [9]:
import requests

In [12]:
import pandas as pd

In [13]:
url = f"http://api.mfapi.in/mf/100027"
response = requests.get(url)
json_data = response.json()
fund_df = pd.DataFrame.from_records(json_data["data"])

In [ ]:
fund_name =

In [17]:
fund_row = d.funds_list_df.loc[
    d.funds_list_df["schemeName"] == fn
]

url = f"http://api.mfapi.in/mf/{fund_row['schemeCode']}"

In [18]:
url

'http://api.mfapi.in/mf/0    100027\nName: schemeCode, dtype: int64'

0    100027
Name: schemeCode, dtype: int64

In [14]:
fund_df

           date       nav
0    29-05-2008  10.72050
1    28-05-2008  10.72500
2    27-05-2008  10.72160
3    26-05-2008  10.72060
4    23-05-2008  10.71520
..          ...       ...
526  10-04-2006  10.09060
527  07-04-2006  10.08560
528  05-04-2006  10.08360
529  04-04-2006  10.07960
530  03-04-2006  10.07740

[531 rows x 2 columns]